%form{action: "/", method: "post"}
  %input{name: "message", class: "form__message", size: "20", placeholder: "type a message"}
  .form__img
    %label
      = fa_icon "picture-o"
      %input{class: "form__img__upload", type: "file"}
  %input{class:"form__submit-button", type: "submit", value: "Send"}
