%div.sidebar__groups__group
  %div.sidebar__groups__group__name
    sample_group1
  %div.sidebar__groups__group__message
    Hello!
%div.sidebar__groups__group
  %div.sidebar__groups__group__name
    sample_group2
  %div.sidebar__groups__group__message
    good bye!
