.sidebar__groups__group
  .sidebar__groups__group__name
    sample_group1
  .sidebar__groups__group__message
    Hello!
.sidebar__groups__group
  .sidebar__groups__group__name
    sample_group2
  .sidebar__groups__group__message
    good bye!
