.message
  .message__upper
    .message__upper__name
      member1
    .message__upper__date
      2018/08/01 11:00
  .message__lowwer
    Hello!
.message
  .message__upper
    .message__upper__name
      member2
    .message__upper__date
      2018/08/01 21:00
  .message__lowwer
    Hello!!
.message
  .message__upper
    .message__upper__name
      member3
    .message__upper__date
      2018/08/01 22:00
  .message__lowwer
    Hello!!
