.message
  .message__upper
    .message__upper__name
      = message.user.name
    .message__upper__date
      = message.created_at
    .message__lowwer
    - unless message.content.nil?
      = message.content
    - else
      = image_tag message.image.url, class: 'lower-message__image'
