%div.chat__message
  %div.chat__upper__message
    %div.chat__message__name
      member1
    %div.chat__message__date
      2018/08/01 11:00
  %div.chat__lowwer__message
    Hello!
%div.chat__message
  %div.chat__upper__message
    %div.chat__message__name
      member2
    %div.chat__message__date
      2018/08/01 21:00
  %div.chat__lowwer__message
    Hello!
