.chat__message
  .chat__upper__message
    .chat__message__name
      member1
    .chat__message__date
      2018/08/01 11:00
  .chat__lowwer__message
    Hello!
.chat__message
  .chat__upper__message
    .chat__message__name
      member2
    .chat__message__date
      2018/08/01 21:00
  .chat__lowwer__message
    Hello!
