.notification {
  .notice {
    background-color: $cyan-blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert-orange;
    color: $white;
    text-align: center;
  }
}
