@import "variables";
@import "./mixin/clearfix";

.message{
  float: right;
  width:calc(100vw - 300px);
  .message__header{
    height: 100px;
    padding:0 40px;
    box-sizing: border-box;
    @include clearfix();
    .left-header{
        float: left;
        .left-header__title{
            font-size: 20px;
            color: $dark-gray;
            margin-top: 35px;
        }
        .left-header__members{
            font-size: 12px;
            color: $light-gray;
            margin-top: 15px;
        }
    }
    .right-header{
        border: 2px solid $cyan-blue;
        color: $cyan-blue;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        .right-header__button{
            text-decoration: none;
        }
    }
  }
  .message__main{
    background-color: $very-light-gray;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;
    .chat__message{
         margin-bottom: 40px;
        .chat__upper__message{
            .chat__message__name{
                font-weight: bold;
                display: inline-block;
            }
            .chat__message__date{
                font-weight: bold;
                display: inline-block;
                font-size:12px;
                color: $light-gray;
                margin-left: 10px;
            }
        }
        .chat__lowwer__message{
            .chat__message__message{
                margin-top: 10px;
            }
        }
    }
  }
}

